// colors was parsed from layout
// {'271A58', '313131', 'FFFFFF', '9A48F1', '181818', 'AD61FF', '000000'}
// {'rgba(0, 0, 0, 0.85)'}
//
// names was picked up from https://colors.artyclick.com/color-name-finder/ api
// 

$black: #000;
$white: #FFF;
$violent-violet: #271A58;
$dune: #313131;
$jasmine-purple: #9A48F1;
$rangoon-green: #181818;
$tyrian-purple: #AD61FF;
