
@use "theme-pallete";

/*
all color values and states

background
color
border-color

hover
active
focus
link
visited
*/

/*


$theme: (
    background: ...,
    color: ...,
    ...,
    component-1: (
        color: ...,
        border-color: ...,
        hover: (
            background: ...,
            ...,
        ),
        ...,
    ),
    component-2: (
        ...,
    ),
    ...,
)

*/

$default: (
    background: 
);
