@font-face {
    font-family: "stratosskyengweb";
    src: local("stratosskyengweb"),
        url("./../../fonts/stratosskyengweb-regular.woff2") format("woff2"),
        url("./../../fonts/stratosskyengweb-regular.woff") format("woff");
}

@mixin text($font-size, $line-height, $font-weight) {
    font-family: "stratosskyengweb", sans-serif;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}
