@import "theme-pallet";

/*
all color values and states

background
color
border-color

hover
active
focus
link
visited
*/

/*


$theme: (

    "background": ...,    // for unknown
    "color": ...,         // 
    "border-color": ...,  // 
                        //
    "hover": (...),       //
    "active": (...),      //
    "focus": (...),       //
    "link": (...),        //
    "visited": (...),     //

    "page": (             // for specific page

        "background": ...,
        "color": ...,
        ...,
        "component-1": (
            "color": ...,
            "border-color": ...,
            "hover": (
                "background": ...,
                ...,
            ),
            ...,
        ),
        "component-2": (
            ...,
        ),
        ...,
    ),
    ...
)

*/

$default: (
    "background": $rangoon-green,
    "color": $white,
    "border-color": $white,
    
    "hover": (
        "background": $white-smoke,
        "border-color": $grey-goose,
        "color": $white,
    ),

    "focus": (
        "background": $white-smoke,
        "border-color": $grey-goose,
        "color": $white,
    ),

    "active": (
        "background": $light-grey,
        "border-color": $grey-goose,
        "color": $white,
    ),

    "link": (
        "color": $white,
    ),

    "visited": (
        "color": $white,
    ),

    "login": (
        "background": $baltic-sea,

        "form": (
            "background": $white,
        ),

        "input": (
            "color": $black,
            "border-color": $grey-goose,

            "placeholder": (
                "color": $lavender-pinocchio,
            ),
        ),
        
        "button": (
            "color": $black,
            "background": transparent,
            "border-color": $grey-goose,
            
            "hover": (
                "background": $white-smoke,
            ), 

            "active": (
                "background": $light-grey,
            ),
        ),

        "submit": (
            "color": $white,
            "background": $daisy-bush,
            
            "hover": (
                "background": $kingfisher-daisy,
            ), 

            "active": (
                "background": $violent-violet,
            ),
        ),   
    ),
);


$themes: (
    "default": $default,
);

$theme-dark: "default";
$theme-light: "light";
